body {
  margin: 0;
  padding: 0;
}

.alt-container {
  padding: 24px;
  margin: 0;
}

.widget {
  width: 100%;
}

@media (min-width: 400px) {
  .widget {
    width: 400px;
  }
}

.alt-btn {
  margin-top: 12px;
}

@media (min-width: 400px) {
  .alt-btn {
    margin-top: 6px;
  }
}

